html{
 overflow-y: hidden;
 overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
}

.sendmessage-div {
  position: fixed;
  background-color: #1c1c1c;
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 88%;
  left: 0;
}

.sendmessage-div input, .message-input-field {
  border-radius: 20px;
  height: 68%;
  padding-left: 10px;
  background-color: #504b4b;
  border: none;
  color: white; 
}

.username-input-field {
  width: 20%;
}

.message-input-field {
  width: 50%;
  resize: none;
  overflow-y: hidden;
}

.sendmessage-div button {
  background-color: #eaeaea;
  width: 10%;
  height: 60%;
  border-radius: 20px;
  color: #1c1c1c;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}